body {
  background: #f5f8f9;
}
img {
  width: 100%;
  height: auto;
}
header {
  margin-top: 50px;
}
header,
main {
  background: #fff;
}
header {
  padding: 25px 15px 0;
}
main {
  margin-top: 40px;
  -webkit-box-shadow: 0px 0px 5px 1px #d1d1d1;
  -moz-box-shadow: 0px 0px 5px 1px #d1d1d1;
  box-shadow: 0px 0px 5px 1px #d1d1d1;
}
main .reviews {
  text-align: left;
}
main .reviews .nav-pills {
  color: #007ee5;
  font-size: 22px;
}
h1 {
  font-size: 3em;
}
.profile_image img {
  margin-bottom: -20px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}
.tabs_row {
  padding-top: 5px;
  border-top: 1px solid #eee;
  -webkit-box-shadow: 0px 2px 4px 0px #bdbbbd;
  -moz-box-shadow: 0px 2px 4px 0px #bdbbbd;
  box-shadow: 0px 2px 4px 0px #bdbbbd;
}
.tab-content {
  padding: 30px 40px;
}
.tab-content .info_rows {
  display: inline-block;
  line-height: 32px;
  background: #f5f8f8;
  margin-bottom: 2px;
}
.tab-content .info_rows .inner_data {
  margin: 0 20px;
}
.tab-content .info_rows .popover,
.tab-content .info_rows .popover:hover {
  width: 205px;
  color: #9cb0c0;
}
.tab-content .info_rows .popover-content .popover_save,
.tab-content .info_rows .popover-content .popover_save:hover {
  margin-right: 25px;
  color: #fff;
  background: #007ee5;
  border: 1px solid #007ee5;
}
.tab-content .info_rows .popover-content .popover_cancel,
.tab-content .info_rows .popover-content .popover_cancel:hover {
  color: #007ee5;
  background: #fff;
  border: 1px solid #007ee5;
}
.tab-content .edit_data {
  height: 32px;
  display: inline-block;
  width: 32px;
  text-align: center;
  background: #ecf1f5;
  color: #777;
  cursor: pointer;
}
.tab-content .edit_data:hover,
.tab-content .edit_data:focus,
.tab-content .edit_data:active {
  color: #e8e8e8;
  background: #007ee5;
}
.tab-content .icon {
  color: #b3b1b1;
}
.upload_image button {
  color: #999;
  padding: 10px 15px;
  font-size: 16px;
}
.upload_image button:hover span {
  color: #777;
}
.upload_image button span {
  color: #d0dce7;
  padding: 0 8px;
  font-size: 22px;
  vertical-align: sub;
}
.login button {
  border-color: #007ee5;
  color: #007ee5;
  font-weight: 600;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover,
.nav > li > a:focus,
.nav > li > a:hover {
  color: #555;
  background: none;
  border-radius: 0;
  border-bottom: 3px solid #007ee5;
  padding: 10px 0;
  margin: 0 10px;
}
.nav-pills > li > a {
  color: #555;
  background: none;
  border-radius: 0;
  border-bottom: 3px solid transparent;
  padding: 10px 0;
  margin: 0 10px;
}
.reviews {
  color: #727e88;
  padding-top: 20px;
  text-align: right;
}
.reviews .nav-pills {
  display: inline-block;
  font-size: 19px;
  padding-left: 0;
}
.reviews .reviews_stars {
  vertical-align: middle;
  display: inline-block;
}
.reviews .reviews_stars .reviews_count {
  margin: 0 10px;
}
.followers p {
  line-height: 25px;
  color: #b4b4b4;
  margin-bottom: 0px;
  margin-top: 5px;
}
.followers p .folower_plus {
  font-size: 30px;
  color: #fff;
  width: 25px;
  height: 25px;
  background: #9d9d9d;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
}
.followers p .folower_plus:hover {
  color: #9d9d9d;
  background: #fff;
}
.followers p .folowers_counter {
  margin: 0 20px;
  color: #373737;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .tab-content {
    padding: 20px;
  }
  .main_tabs {
    padding: 0 5px;
  }
  .main_tabs .nav-pills > li.active > a,
  .main_tabs .nav-pills > li.active > a:focus,
  .main_tabs .nav-pills > li.active > a:hover,
  .main_tabs .nav > li > a:focus,
  .main_tabs .nav > li > a:hover,
  .main_tabs .nav-pills > li > a {
    margin: 0 4px;
  }
  main {
    margin-top: 20px;
  }
  header {
    margin-top: 10px;
  }
  .profile_image {
    margin-top: 20px;
  }
  .profile_image img {
    margin-bottom: 0px;
  }
}
.modal {
  text-align: center;
  background: url(img/fullscreen_bg_image.jpg);
  background-size: 100% 100%;
}
.modal .modal_login {
  width: 100%;
  background-color: #007ee5;
  border-color: #007ee5;
}
.modal-content {
  padding: 20px 30px;
}
.modal-footer {
  border-top: none;
}
@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
